<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <a href="/">Add Data</a> |
            <a href="/sync-log">Sync Log</a>
        </nav>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>
</html>
